html {
    background: rgb(255, 255, 255);
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.15;
    display: block;
}

body {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;

    margin: 0;
    font-family: “Helvetica Neue”, “Helvetica”, “Roboto”, “Arial”, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    display: block;
}

header {}

#InfoText{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10rem;
    padding-right: 25rem;
    padding-top: 15rem;
}
#CAD{
    padding-top: 15rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
#student-login{
    display: flex;
    justify-content: space-evenly;
}

#submit{
    background-color: #000;
    color: white;
    text-align: center;
    padding: 15px 30px;
    font-size: 16px;
}

#pContact{
    display: flex;
    justify-content: center;
    padding-right: 40rem;
    padding-left: 25rem;
}

#h2Info{
    display: flex;
    justify-content: center;
    padding-right: 40rem;
    padding-top: 0;
    margin-top: 0;
    font-size: 12mm;
}
#pInfo{
    display: flex;
    justify-content: center;
    font-size: large;
    padding-right: 50rem;
}
#loginForm{
    display: flex;
    justify-content: center;
    
}

.login-bar {
    display: flex;
    flex-wrap: wrap;
    /*margin-left: -15px;
    margin-right: -15px;*/
    padding-left: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #000;
    justify-content: flex-end;
    max-height: 50px;
}

#student-login {
    position: relative;
    padding: 0.5rem 1.5rem;
    /*font-size: 0.56rem;*/
    font-size: 0.75rem;
    color: #fff;
    background-color: rgb(247, 105, 2);
    white-space: nowrap;
    text-decoration: none;
    display: block;
    letter-spacing: 0;
}

#logo-bar{
    display: flex;
    justify-content: space-between;
    margin: 1vw 2vw;

}

#logo-bar a{
    display: flex;
    align-content: center;
}

#CAD-title{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding-right: 10vw;
}

#CAD-title h3, #CAD-title h5{
    margin: 0;
    text-align: center;

}

#widgets{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
}

#widgets h5{
    margin: 10px;
}

#login:link {
    /*transition: color .2s ease-in;*/
    text-decoration: none;
}

#login:visited {
    color: #fff;
    text-decoration: none;
}

#login:hover {
    color: #c75300;
    text-decoration: none;
    transition: color .2s ease-in;
}

#login:active {
    color: #727578;
    text-decoration: none;
}

#career-services-header {
    font-size: 2rem;
    letter-spacing: -0.05rem;
    line-height: 1;
    color: #000;
    font-weight: 700;
    text-align: center;

    margin-bottom: 0;
    margin-top: 0;

}

#title-link:link{
    text-decoration: none;
    color: #000;
    font-size: 36px;
}

#title-link:visited{
    text-decoration: none;
    color: #000;
    font-size: 36px;
}

#title-link:hover{
    text-decoration: none;
    color: #000;
    font-size: 36px;
}

#title-link:active{
    text-decoration: none;
    color: #000;
    font-size: 36px;
}











/*
#headerImage {
    background-color: #F76902;
    margin-top: 2%;
    margin-bottom: 2%;
}

#headerText {
    padding-right: 5%;
    padding-left: 5%;
}

#login {
    background-color: #000000;
    color: #FFFFFF;
    text-align: right;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5%;
}
*/
